{% layout "layout.liquid" %}
{% block content %}

    

<body class = "editBody">
    
    <h5>Edit this wish</h5>
<div class = "edit">

 <form action="/wishlists/{{wishlist._id}}?_method=PUT" method="post">
  <fieldset>

        <label>
            Name: <input type="text" name="name" placeholder="Edit item name" value="{{purchased.complete}}">
            <label>
                cost: <input type="text" name="cost" placeholder="Edit item price"/>
            </label>
        </label>
        Did I get it? <input type="checkbox" name ="purchased"
                {% if wishlist.purchased == true%}
                     checked
                {%endif%}>
       
        <label>
            <input type="submit" value="Finish editing? click here!"/>
        </label>
        
        <a class ="button" href="/wishlists"><button>Go back to your lists</button></a>

    </fieldset>
  
 </form> 
</div>
</body>
{% endblock %}


