{%layout "layout.liquid" %}
{% block content %}
<body class = "indexBody">
    

       
       {%for wishlist in wishlists%}
        <div class = "wishlist">
            <a href = "/wishlists/{{wishlist._id}}"><h2>{{wishlist.name}}
                     <h3>${{wishlist.cost}}</h3>
                {%if wishlist.purchased == true%}
                    GOT IT 😃
                {%else%}
                     I didnt get it yet 😟
                {%endif%}
                
            </h2></a>
            </div>
        {%endfor%}

            
    </body>
{% endblock %}



