{%layout "layout.liquid" %}
{% block content %}
       <a href="/wishlists/new"><button>jot down your new wish</button></a>

       
       {%for wishlist in wishlists%}
        <div class = "wishlist">
            <a href = "/wishlists/{{wishlist._id}}"><h2>{{wishlist.name}}
                     <h3>{{wishlist.cost}}$</h3>
                {%if wishlist.purchased == true%}
                    GOT IT 😃
                {%else%}
                     I didnt get it yet 😟
                {%endif%}
                
            </h2>
            </div>
        {%endfor%}

            
        
{% endblock %}