{% layout "layout.liquid" %}
{% block content %}
<body class ="newBody">
    
    <h5>Create a new wish</h5>
<div class ="new">

 <form action="/wishlists" method="post">
  <fieldset>

        <label>
            Name: <input type="text" name="name" placeholder="Create a new wish name"/>
        </label>
        <label>
            cost: <input type="text" name="cost" placeholder="Whats the new wish price"/>
        </label>
       
        <label>
            Click to add : <input type="submit" value="yea, lets add it"/>
        </label>
        <a class ="button" href="/wishlists"><button>Go back to your lists</button></a>
    </fieldset>
  
 </form> 
</div>
</body>
{% endblock %}

