{%layout "layout.liquid" %}
{% block content %}
     
<div class = "wishlist">
    <a class ="button" href="/wishlists/{{ wishlist._id }}/edit"><button>EDIT</button></a>

    <h1>{{wishlist.name}}</h1>
    {%if wishlist.purchased == true%}
       <h3>Your good</h3>
    {%else%}
    <h3>not completed. No goood</h3>
    {%endif%}

    <a class ="button" href="/wishlists"><button>Go back to your lists</button></a>

<form class ="delete" action="/wishlists/{{ wishlist._id }}?_method=DELETE" method="post">
    <input type="submit" value="DELETE">
</form>
</div>


    
{% endblock %}